{% if login_error %}
	<table>
		<tr><td>Error: {{ login_error }}</td></tr>
		<tr><td><a hx-post="/login_frame" hx-target="#loc_login_frame">Try again</a></td></tr>
	</table>
{% elif not user_login %}
	<form>
		<table>
			{{ login_form.as_table }}
			<tr>
				<td><input type="submit" value="Login" hx-post="/do_login" hx-target="#loc_login_frame"></td>
			</tr>
		</table>
	</form>
{% else %}
	Hi, {{ user_login }}! <a hx-post="/do_logout" hx-target="#loc_login_frame">Logout</a>
{% endif %}
